/* //// Estab color variable for container//// */
  :root {
      --containerColor: rgb(170, 203, 209);
      --sidebarColor: rgb(170, 203, 209)
  }
  
  /* //// Set body background color//// */
  
  body {
      background-color: rgb(170, 203, 209);
  }
  


  /* ////Header format//// */
  
  .header {
      padding: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-color: rgb(159, 168, 177);
      color: black;
  }
  
  
  /* ////Header h1//// */
  .header h1 {
    display: inline-block;
    font-size: 48px; 
    
  }
  

  /* ////Header section//// */
  .header section {
    padding-top: 15px;
     margin-right: 20px;
     float: right;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    
  }
  
  
  /* ////Header unordered list//// */
  .header section ul {
      list-style-type: none;
      padding: 30px;
      position: relative;
      top: 35px;
      right: 10px;
      
  }
  
  
  /* ////Header unordered list//// */
  .header section ul li {
    display: inline-block;
    margin-left: 25px;
    padding-bottom: 15px;
  }

  /* ///Estab header image settings//// */
.header img {
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 5px;
    width: 150px;
    float: left;
    position: relative;
    bottom: 22px;
    right: 10px;   
    max-width: 100%;
    height: auto;

}

  /* ///Set centered alignment for About h2/// */
  .about h2{
    text-align:center;
  }


/* ///Set centered alignment for About paragraph/// */
  .about p {
    text-align:center
  }
  
  /* ////Set anchor color & style//// */
  a {
    color: white;
    text-decoration: none; /* remove underline */
  }


  /* ///Set container style*/ 
.container1 section {
    background: rgb(159, 168, 177);
    padding: 50px;
  }
  
  /* ///Set grid columns & format within container/// */
  .container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 15px;
    background-color: var(--containerColor);
    grid-template-areas: 
      "sidebar sidebar work work work work work work"
      "sidebar sidebar p1 p1 p1 p2 p2 p2"
      "sidebar sidebar p3 p3 p3 p4 p4 p4"
      "sidebar2 sidebar2 footer footer footer footer footer footer";
  }

/* Estab class styles*/
.container1 .sidebar {
    grid-area: sidebar;
    background-color: var(--sidebarColor);
}

.sidebar p {
    margin-left: 20px
  }

.sidebar ul{
    list-style-type: none;
    font-weight: bold;
    font-family: fantasy;
    font-size: 26px;
}

.container1 .sidebar2 {
    grid-area: sidebar2;
    background-color: var(--sidebarColor);
}

.sidebar2 p {
    margin-left: 20px
  }

.sidebar2 ul{
    list-style-type: none;
    font-weight: bold;
    font-family: fantasy;
    font-size: 26px;
}
      

/* Set grid classes */
 .work {
    grid-area: work;
   }
   
   .p1 {
     grid-area: p1;
   }
   
 .p2 {
   grid-area: p2;
 }
 
   .p3 {
     grid-area: p3;
   }
 
 
  .p4 {
     grid-area: p4;
   }
 

 .footer {
   grid-area: footer;
 }
 

 .footer ul {
    list-style-type: none;
        padding: 30px;
  }
  
  
  .footer ul li {
    display: inline-block;
      margin-left: 25px;
  }
   
  
  
 
 